@import "./mixins";

h2 {
  text-align: center;
}

.choice {
  &-container {
    display: flex;
    margin-bottom: 0.5rem;
    width: 100%;
    border: 0.1rem solid blue;
    background-color: white;
    font-size: 1.8rem;

    &:hover {
      @include btnHover;
    }
  }

  &-prefix {
    padding: 1.5rem 2.5rem;
    background-color: blue;
    color: white;
  }

  &-text {
    padding: 1.5rem;
    width: 100%;
  }
}

.correct {
  background-color: green;
}

.incorrect {
  background-color: red;
}

// GAME INFO
#game-info {
  display: flex;
  justify-content: space-between;

  .prefix {
    text-align: center;
    font-size: 2rem;
  }

  .main-text {
    text-align: center;
  }
}

// PROGRESS BAR
#progressBar {
  width: 20rem;
  height: 4rem;
  border: 0.3rem solid blue;
  margin-top: 1.3rem;

  &Full {
    height: 3.4rem;
    background-color: blue;
    width: 0%;
  }
}
