@import "./colors";
@import "./mixins";

h2 {
  text-align: center;
}

.game {
  #question {
    color: $sage;
  }
}

.choice {
  &-container {
    display: flex;
    margin-bottom: 0.5rem;
    width: 100%;
    border: 0.1rem solid $orange;
    background-color: white;
    font-size: 1.8rem;

    &:hover {
      @include btnHover;
    }
  }

  &-prefix {
    padding: 1.5rem 2.5rem;
    background-color: $orange;
    color: white;
  }

  &-text {
    padding: 1.5rem;
    width: 100%;
  }
}

.correct {
  background-color: $correct;
}

.incorrect {
  background-color: $incorrect;
}

// GAME INFO
#game-info {
  display: flex;
  justify-content: space-between;

  .prefix {
    text-align: center;
    font-size: 2rem;
    color: white;
  }

  .main-text {
    text-align: center;
  }
}

// PROGRESS BAR
#progressBar {
  width: 20rem;
  height: 4rem;
  border: 0.3rem solid $orange;
  margin-top: 1.3rem;

  &Full {
    height: 3.4rem;
    background-color: $orange;
    width: 0%;
  }
}

// LOADER
#loadingSpinner {
  border: 1.6rem solid white;
  border-radius: 50%;
  border-top: 1.6rem solid $orange;
  width: 12rem;
  height: 12rem;
  animation: spinner 2s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
